[Unit]
Description=Nb

[Service]
Environment="LD_LIBRARY_PATH=/usr/local/lib/"
ExecStart=/home/me/Code/nb/nb.exe
WorkingDirectory=/home/me/Code/nb

[Install]
WantedBy=default.target
